# udev rules for the Axia ALSA audio/network driver (snd-axia kernel module)

# Create the necessary /dev/axia0 device node and tag it as a systemd device
ACTION=="add", DEVPATH=="/module/snd-axia", TAG+="systemd", IMPORT{program}+="snd-axia.sh --env" RUN{program}+="snd-axia.sh --mknod"

# Remove an existing /dev/axia0 device node
ACTION=="remove", DEVPATH=="/module/snd-axia", RUN{program}+="snd-axia.sh --rmnod"
